@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
}

<h2>New Supplier Form</h2>
<p>This form is to be used to request the addition of a new Supplier to V.Group’s systems, as described in the V.Group Create Supplier process, issued Jan 2016. Highlighted fields are mandatory. Fields that are greyed out will be completed by the Supplier Data Management team when they process the form. 
<br />Please supply as much information as possible to ensure accurate identification of the new Supplier and hence prevent duplicate or incorrect records being added.<p/>
<p>If you want to amend an existing supplier record, please use form X instead. You will be notified when the new Supplier record has been added, or if the request has not been approved.
</p>

@Html.BeginForm(){ 


}